<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hg.mapper.AdminMapper">

    <resultMap id="adminResultMap" type="com.hg.entity.AdminInfo">
        <id property="id" column="ID"/>
        <result property="adminid" column="ADMINID"/>
        <result property="name" column="NAME"/>
        <result property="pass" column="PASS"/>
        <result property="phone" column="PHONE"/>
    </resultMap>

    <select id = "getAllAdmin" resultMap="adminResultMap">
        select * from admininfo
    </select>

    <select id = "getAdminById" resultMap="adminResultMap">
        select * from admininfo where id=#{id}
    </select>
</mapper>