<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hg.mapper.AdminMapper">

    <resultMap id="adminResultMap" type="com.hg.entity.AdminInfo">
        <id property="id" column="ID"/>
        <result property="adminid" column="ADMINID"/>
        <result property="name" column="NAME"/>
        <result property="pass" column="PASS"/>
        <result property="phone" column="PHONE"/>
    </resultMap>

    <select id = "getAllAdmin" resultMap="adminResultMap">
        select * from admininfo
    </select>

    <select id = "getAdminById" parameterType="java.lang.Integer" resultMap="adminResultMap">
        select * from admininfo where id=#{id}
    </select>

    <insert id="addAdmin" parameterType="com.hg.entity.AdminInfo" useGeneratedKeys="true" keyProperty="ID">
        insert into admininfo(ID, ADMINID, NAME, PASS, PHONE)
              VALUES(#{id}, #{adminid}, #{name}, #{pass}, #{phone})
    </insert>


    <update id="updateAdmin" parameterType="com.hg.entity.AdminInfo">
        UPDATE admininfo
           SET admininfo.ADMINID = #{adminid},
               admininfo.NAME = #{name},
               admininfo.PASS = #{pass},
               admininfo.PHONE = #{phone}
           WHERE admininfo.id = #{id}
    </update>

    <delete id="deleteAdmin" parameterType="java.lang.Integer">
        DELETE FROM admininfo WHERE id = #{id}
    </delete>
</mapper>